.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}

.media {
    max-width: 100%;
    object-fit: none;
}

.exitButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tags {
    margin-top: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    font-size: 14pt;
    height: 22px;
    border: 1px solid black;
    border-radius: 8px;
    margin-right: 3px;
    position: relative;
    padding: 5px 15px 5px 5px;
}

.removeTag {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}